.container {
  max-width: 1280px;
}

.title {
  text-align: center;
}

.title h6 {
  font-size: 16px;
  font-weight: 400;
  color: #161722;
  text-transform: uppercase;
}

.title h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1%;
  color: #161722;
  text-transform: uppercase;
  margin-top: 16px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* =================header part start=================*/
header .navbar {
  background: #0d0d0d;
  color: white;
  padding: 12px 0px;
}

header .navbar .nav-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

header .navbar .navbar-nav {
  gap: 48px;
}

header .navbar .navbar-brand {
  margin-right: 120px;
}

header .navbar .navbar_btn {
  border: none;
  background: #ffd2a4;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #1c1d28;
  padding: 20px 48px;
}

/* =================header part end=================*/

/* =================banner part start=================*/
#banner {
  background: url("../images/Image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 128px 0;
  color: white;
}

#banner h5 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

#banner h1 {
  color: #ffffff;
  font-size: 64px;
  line-height: 82px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1%;
  max-width: 592px;
  margin-top: 16px;
}

#banner button {
  border: none;
  background: #ffd2a4;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #1c1d28;
  padding: 20px 48px;
  margin-top: 32px;
  transition: 0.5s;
  text-transform: uppercase;
}

#banner button:hover {
  background: rgb(207, 36, 6);
  color: rgb(213, 227, 228);
}

#banner p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  max-width: 308px;
  margin-top: 64px;
  position: relative;
  margin-left: 30px;
}

#banner p::before {
  content: "";
  width: 18px;
  height: 2px;
  background: #ffd2a4;
  position: absolute;
  top: 12px;
  left: -30px;
}
/* =================banner part end=================*/

/* =================relevant part start=================*/
#relevant {
  margin-top: 128px;
}

#relevant .title {
    margin-bottom: 64px;
}

 #relevant .item {
    width: 100%;
    padding: 80px;
    background: #fff5eb;
    position: relative;
 }

 #relevant .item::after {
    width: 100%;
    height: 16px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background: #ffd2a4;
 }

 #relevant .item .icon {
    width: 48px;
    height: 48px;
    background: #ffd2a4;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
 }

  #relevant .item h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1%;
    color: #161722;
    margin-top: 24px;
  }

  #relevant .item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #161722;
    margin-top: 8px;
    max-width: 251px;

  }
/* =================relevant part end=================*/

/* =================compassion part start=================*/
#compassion {
    margin-top: 128px;
}

#compassion p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #161722;
    max-width: 846px;
    margin: 0 auto;
    margin-top: 32px;
}

#compassion button {
  border: none;
  background: #ffd2a4;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #1c1d28;
  padding: 20px 48px;
  margin-top: 32px;
  transition: 0.5s;
  text-transform: uppercase;

}

#compassion button:hover {
  background: rgb(207, 36, 6);
  color: rgb(213, 227, 228);
}

#compassion .row img {
    width: 293px;
}

#compassion .row .item {
    text-align: center;
}

#compassion .row .centerImg {
    margin-top: 64px;
    width: 390px;
}

#compassion .title .mission {
    margin-top: 72px;
}

#compassion .title .celebrate {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1%;
    color: #161722;
    text-transform: uppercase;
}

#compassion .title .lorem {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #161722;
    max-width: 512px;
}

#compassion .title .read {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #161722;
    margin-bottom: 70px;
}

#compassion .title .arrow {
    display: right;
}
/* =================compassion part end=================*/
