.container {
  max-width: 1280px;
}

.title{
    text-align: center;
}

.title h6 {
    font-size: 16px;
    font-weight: 400;
    color: #161722;
    text-transform: uppercase;
}

.title h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -1%;
    color: #161722;
    text-transform: uppercase;
    margin-top: 16px;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

/* =================header part start=================*/
header .navbar {
    background: #0D0D0D;
    color:white;
    padding: 12px 0px;
}

header .navbar .nav-link {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

header .navbar .navbar-nav {
    gap: 48px;
}

header .navbar .navbar-brand {
    margin-right: 120px;
}

header .navbar .navbar_btn {
    border: none;
    background: #FFD2A4;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #1C1D28;
    padding: 20px 48px;
}

/* =================header part end=================*/

/* =================banner part start=================*/
#banner {
    background: url("../images/Image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 128px 0;
    color: white;
}

#banner h5 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

}

#banner h1 {
    color: #FFFFFF;
    font-size: 64px;
    line-height: 82px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1%;
    max-width: 592px;
    margin-top: 16px;
}

#banner button {
    border: none;
    background: #FFD2A4;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #1C1D28;
    padding: 20px 48px;
    margin-top: 32px;
    transition: .5s;
}

#banner button:hover {
    background: rgb(207, 36, 6);
    color: rgb(213, 227, 228);
}

#banner p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    max-width: 308px;
    margin-top: 64px;
    position: relative;
    margin-left: 30px;
}

#banner p::before {
    content: "";
    width: 18px;
    height: 2px;
    background: #FFD2A4;
    position: absolute;
    top: 12px;
    left: -30px;
}
/* =================banner part end=================*/

/* =================relevant part start=================*/
#relevant{
    margin-top: 128px;
}

/* =================relevant part end=================*/
